*{margin: 0;padding: 0;box-sizing: border-box;}
html,body,.music-page {
    height: 100%;
    font: 16px/1.5 cursive;
}
ul > li {
    list-style: none;
}
a { text-decoration: none;}
.layout {
    margin: 0 auto;
    width: 680px;
  }
  
  @media (max-width: 899px) {
    .layout {
      width: 660px;
    }
    .layout .detail{
        margin-left: 5vh;
    }
    .aside .picture {
        width: 43vh;
        height: 43vh;
    }
  }
  @media (min-width: 900px) {
    .layout {
      width: 760px;
    }
    .layout .detail{
        margin-left: 6vh;
    }
  }
  @media (min-width: 1000px) {
    .layout {
      width: 880px;
    }
    .layout .detail{
        margin-left: 12vh;
    }
  }
  @media (min-width: 1200px) {
    .layout {
      width: 1080px;
    }
  }
  
main {
    height: calc(100% - 24vh);
    display: flex;
    padding-top: 12vh;
}
.picture {
    width: 46vh;
    height: 46vh;
    background: url(../images/bg6.jpg) center;
    background-size: cover;
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.active > span {
    flex: 1;
}
.favo.choose,
.play-state .favo.choose:hover {
    color: red;
}
.play-state {
    text-align: center;
    margin-top: 4vh;
    color: rgba(255,255,255,0.4);
}
.play-state .iconfont {
    font-size: 5vh;
    cursor: pointer;
    transition: all 0.3s;
}
.play-state .iconfont:hover {
    color: #fff;
}
.detail {
    flex: 1;
    margin-left: 12vh;
    color: #fff;
}
.detail .tips {
    display: inline-block;
    padding: .5vh 1.5vh;
    background-color: #2D6BCE;
    border-radius: 3px;
    margin-bottom: 2vh;
    font-size: 2vh;
}
.detail h1 {
    font-size: 6vh;
}
.detail span,
.detail .iconfont {
    font-size: 3vh;
    padding-right: 1vh;
}
.listen-state {
    margin-top: 5vh;
}
.pro-area {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}
.progress-bar {
    position: relative;
    flex: 1;
    height: 0.6vh;
    border-radius: 0.4vh;
    background-color: rgba(255,255,255,0.4);
}
.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 0.2vh;
    background-color: #fff;
    z-index: 1;
}
.pro-area .time {
    font-size: 2vh;
    margin-left: 2vh;
    width: 8vh;
    text-align: right;
}
.detail .singer {
    margin-top: 5vh;
    font-size: 2vh;
}
.detail .lyric {
    margin-top: 2vh;
    font-size: 2vh;
}
footer {
    height: 24vh;
    background-color: rgba(255,255,255,0.2);
}
.class-box {
    height: 100%;
    position: relative;
}
.left {
    left: -8vh;
}
.right {
    right: -8vh;
}
.left,
.right {
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    font-size: 6vh;
    color: rgba(255,255,255,0.4);
    padding: 7.5vh 1vh;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
}
footer:hover .left,
footer:hover .right {
    opacity: 1;
}

.left:hover,
.right:hover {
    color: #fff;
}
.right {
    order: 2;
}
.box {
    position: relative;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.classies {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
}
.classies li {
    margin: 2vh 1vh;
    cursor: pointer;
}
.classies li:hover,
.classies li.choose {
    box-shadow: 0 0 1vh 0.5vh rgba(255,255,255,0.6);
}
.classies-cover {
    background: url(../images/bg8.jpg) center no-repeat;
    background-size: cover;
    height: 16vh;
    width: 18vh;
}
.classies-name {
    color: #fff;
    font-size: 2vh;
    margin-top: 1vh;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/bg6.jpg) center no-repeat;
    background-size: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(4px);
}
.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}
